# Windows (стандартные системные файлы)
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk
[Ee]hthumbs.db
*.cab
*.msi
*.msm

# Временные файлы Windows и логи
*.tmp
*.log
*.bak

# Visual Studio Code
.vscode/
*.code-workspace
